<mat-toolbar class="toolbar">
  <a routerLink="/home"
    ><button mat-mini-fab aria-label="Example icon button with a home icon">
      <mat-icon>home</mat-icon>
    </button>
  </a>
  <span class="example-spacer"></span>

  <button mat-raised-button color="primary" routerLink="/create-post">
    Create New Post
  </button>
  <button mat-raised-button color="primary" routerLink="/view-all-posts">
    View All Posts
  </button>
  <app-logout-login-button />
</mat-toolbar>

<div class="flex justify-content-center">
  <router-outlet></router-outlet>
</div>
